<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="HerbalifePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>br.com.icrm.persistence.entity.Categoria</class>
    <class>br.com.icrm.persistence.entity.CategoriaStatus</class>
    <class>br.com.icrm.persistence.entity.Cliente</class>
    <class>br.com.icrm.persistence.entity.ClienteEndereco</class>
    <class>br.com.icrm.persistence.entity.CompraItem</class>
    <class>br.com.icrm.persistence.entity.Produto</class>
    <class>br.com.icrm.persistence.entity.ProdutoImagem</class>
    <class>br.com.icrm.persistence.entity.ProdutoStatus</class>
    <class>br.com.icrm.persistence.entity.Venda</class>
    <class>br.com.icrm.persistence.entity.VendaStatus</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/herbalife"/>
      <property name="javax.persistence.jdbc.password" value="8iKmJ#2aw@12"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="herbalife-app"/>
      <property name="eclipselink.logging.level" value="FINE"/>
      <property name="eclipselink.logging.file" value="../logs/eclipse-link.log"/>
    </properties>
  </persistence-unit>
</persistence>
